@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: #660033;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 100%;
  height: 320px;
  float: left;
}

#column-1 {
  background: #cc6699;
}

#column-2 {
  background: #993366;
}

#column-3 {
  background: #660033;
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background: #cc6699;
}


/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) {
  header {
    background-color: #0066cc;
  }

  #column-1 {
    background-color: #00ccff;
  }

  #column-2 {
    background-color: #0099cc;
  }

  #column-3 {
    background-color: #0066cc;
  }

  footer {
    background-color: #00ccff;
  }

}


/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  header {
    background-color: #009999;
  }

  #column-1 {
    background-color: #00ff99;
  }

  #column-2 {
    background-color: #00cc99;
  }

  #column-3 {
    background-color: #009999;
  }

  footer {
    background-color: #00ff99;
  }

}
